*{
    margin: 0;
    padding: 0;
}
/* Header */
.logo{
    vertical-align: middle;
    margin: 20px;
    width: 60px;
    height: 60px;
}
h2{
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
}
.block{
    background-color: grey;
}

/* Main */

main{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 40px;
}

.block-main{
    height: 100%;
    width: 100%;
    background-color: grey;
}

.bottoni{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;
    border: solid black;
    width: 100px;
    background-color: aqua;
    margin-top: 8px;
    margin-bottom: 8px;
}

.bottoni2{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: solid black;
    width: 100px;
    background-color: white;
}