*{
    margin: 0;
    padding: 0;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
/* Header */
.logo{
    vertical-align: middle;
    margin: 20px;
    width: 60px;
    height: 60px;
    
}
header h2{
    display: inline-block;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 50px;
    

}
.block{
    background-color: grey;
}

/* Main */

main{
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 40px;
}

.block-main{
    height: 100%;
    width: 100%;
    background-color: grey;
}

.bottoni{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;
    border: solid black;
    width: 100px;
    background-color: #007bff;
    margin-top: 8px;
    margin-bottom: 8px;
    color: white;
}

.bottoni2{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: solid black;
    width: 100px;
    background-color: white;
}

/* Main div without head */

.block-main-list{
    margin-top: 5px;
    background-color: grey;
    padding: 50px;
    margin-bottom: 5px;
}

h3{
    font-size: 25px;
}

.to-do{
    list-style-type: none;
    padding: 20px;
    padding-left: 30px;
    vertical-align: middle;
    font-size: 18px;
}

.immagini{
    display: inline-block;
    width: 20px;
    padding-right: 10px;
    vertical-align: middle;
}

#editorial{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    border: solid black 0px;
    width: 80px;
    height: 30px; 
    line-height: 0;
    background-color: #007bff;
    text-align: middle;
    color: white;
}

#q1-goals{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    border: solid black 0px;
    width: 80px;
    height: 30px; 
    line-height: 0;
    background-color: blueviolet;
    text-align: middle;
    color: white;
}

#recruiting{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    border: solid black 0px;
    width: 80px;
    height: 30px; 
    line-height: 0;
    background-color: #3e975c;
    text-align: middle;
    color: white;
}

#mobile{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    border: solid black 0px;
    width: 80px;
    height: 30px; 
    line-height: 0;
    background-color: orange;
    text-align: middle;
    color: white;
}

#website{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    border: solid black 0px;
    width: 80px;
    height: 30px; 
    line-height: 0;
    background-color: rgb(205, 108, 124);
    text-align: middle;
    color: white;
}

#sales{
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    border: solid black 0px;
    width: 80px;
    height: 30px; 
    line-height: 0;
    background-color: green;
    text-align: middle;
    color: white;
}